# Dependency directory
node_modules

# Build
dist

# Debug
npm-debug.log*

# Cache
*.tsbuildinfo
.npm
.eslintcache
.cache

# OS metadata
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode
*.code-workspace
